<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your username</title>
</head>
<body>
    <h2>you are about to change your username</h2>
    <form action="/users" method="post">
        <input type="text" name="username" id="username" value="<%= user.username  %>">
        <button>add changes</button>
    </form>
</body>
</html>